.titleHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 5rem;
}
.viewHome {
    margin: 3rem 7rem;
    background-color: rgba(255, 255, 255, 0.733);
    padding: 20px;
    border-radius: 1rem;
    .userInfo {
        margin-bottom: 1rem;
        line-height: 32px;
        .titleInfo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            h1:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            img {
                width: 25px;
                margin-right: 1rem;
                &:hover {
                    cursor: pointer;
                    padding: 3px;
                    border: 3px solid red;
                    border-radius: 8px;
                    transition: .5s;
                }
            }
        }
        .details {
            display: flex;
            justify-content: flex-start;
            p {
                margin-right: 1rem;
            }
        }
    }
}

.addButton {
    position: fixed;
    border-radius: 66px;
    bottom: 1rem;
    right: 1rem;
    padding: 18px 32px;
    font-size: 36px;
}


// MOBILE
@media only screen and (max-width: 720px) {
    .viewHome {
        margin: 3rem;
    }
}